<footer class="footer">
  <small>
    <a href="http://www.google.com/"> *** GOOGLE SEARCH *** </a>
    by Google.com
  </small>
  <nav>
    <ul>
     <li><a href="http://www.yellowbrick.nl/">About</a></li>
     <li><a href="http://www.yellowbrick.nl/contact/">Contact</a></li>
     <li><a href="http://nu.nl/">News</a></li>
    </ul>
  </nav>
</footer>